{% extends "base/base.html" %}

{% block title %}Página não encontrada - 404{% endblock %}

{% block content %}
<style>
    .btn-success {
        color: white !important;
        border: none; 
    }
</style>
<div class="container text-center my-5">
    <h1 class="display-1">404</h1>
    <h2 class="mb-4">Página não encontrada</h2>
    <p class="lead">Desculpe, a página que você está procurando não existe.</p>
    <a href="/" class="btn btn-success mt-3"><i class="fa-solid fa-house"></i> Voltar para a página inicial</a>
</div>
{% endblock %}